@using Web.Models.Link
@model Web.Models.View.User._LinkRows;
@foreach (LinkModel link in Model.links)
{
    <tr>
        <th>
            <label>
                <input type="checkbox" class="checkbox"/>
            </label>
        </th>
        <td>
            <div class="flex items-center gap-3">
                <div class="avatar">
                    <div class="mask mask-squircle w-12 h-12">
                        <img src="https://t2.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=@(link.url)&size=48" alt="Favicon"/>
                    </div>
                </div>
                <div>
                    <a class="font-bold link link-info" href="@Url.Action("Details")?code=@link.code">@link.name</a>
                </div>
            </div>
        </td>
        <td class="hidden lg:table-cell">@link.CreatedAt</td>
        <td>
            <div class="hidden lg:flex h-14 gap-2">
                <img class="btn btn-ghost" src="~/assets/svg/copy-icon.svg" alt="Copy" onclick="copyCode('@link.code')"/>
                <img class="btn btn-ghost" src="~/assets/svg/edit-icon.svg" alt="Edit" onclick="editLink('@link.code')"/>
                <img class="btn btn-ghost" src="~/assets/svg/delete-icon.svg" alt="Delete" onclick="deleteLink('@link.code')"/>
            </div>
            <div class="dropdown dropdown-end lg:hidden w-12 h-12">
                <label tabindex="0" class="btn btn-outline btn-primary ">
                    <img class="" src="~/assets/svg/three-dots-icon.svg" alt="Options"/>
                </label>
                <ul
                    tabindex="0"
                    class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-300 rounded-box w-52">
                    <li>
                        <button onclick="copyCode('@link.code')">Copy Link</button>
                    </li>
                    <li>
                        <button onclick="editLink('@link.code')">Edit</button>
                    </li>
                    <li>
                        <button onclick="deleteLink('@link.code')">Delete</button>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
}