@model Web.Models.View.User._HeaderView

@{
    ViewData["Title"] = "Details | Pater";
    Layout = "_UserLayout";
}

@Html.Partial("_Header", Model)

<div class="flex flex-col h-auto w-auto py-2 my-10 mx-5 gap-4 lg:mx-40">
    @* Main Info Card *@
    <div class="flex flex-col bg-base-300 px-5 rounded-lg">
        <div class="flex gap-4 h-24 items-center">
            <img src="https://t2.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=https://www.youtube.com/watch?v=znmZA_n485I&size=48" alt="d"/>
            <span class="text-4xl font-bold basis-4/12">Youtube</span>
            <div class="grow"></div>
            <div class="btn"></div>
            <div class="btn btn-info">Edit</div>
            <div class="btn btn-error">Delete</div>
        </div>
        <div class="divider divider-info"></div>
        <div class="flex pb-5">
            <div class="basis-2/4">Original Link</div>
            <div class="basis-1/4">Last Updated</div>
            <div class="basis-1/4">Created At</div>
        </div>
    </div>
    
    
    <div class="bg-base-200 flex flex-col ">
        <canvas id="VisitsChart"></canvas>
        <div class="h-min flex flex-row-reverse gap-6 p-4">
            <div class="badge badge-info" onclick="VisitsChart('@Url.Action("LinkVisitDetails")', '0raz2muF', '30d')">30d</div>
            <div class="badge badge-info" onclick="VisitsChart('@Url.Action("LinkVisitDetails")', '0raz2muF', '7d')">7d</div>
            <div class="badge badge-info" onclick="VisitsChart('@Url.Action("LinkVisitDetails")', '0raz2muF', '24h')">24h</div>
        </div>
    </div>
    <div class="bg-base-200 flex flex-col">
        <canvas id="BrowserChart"></canvas>
        <div class="h-min flex flex-row-reverse gap-6 p-4">
            <div class="badge badge-info" onclick="BrowserChart('@Url.Action("LinkOtherDetails")', '0raz2muF', '30d')">30d</div>
            <div class="badge badge-info" onclick="BrowserChart('@Url.Action("LinkOtherDetails")', '0raz2muF', '7d')">7d</div>
            <div class="badge badge-info" onclick="BrowserChart('@Url.Action("LinkOtherDetails")', '0raz2muF', '24h')">24h</div>
        </div>
    </div>

    @* Device and OS Pie Charts *@
    <div class="bg-base-200 flex flex-col md:flex-row lg:flex-row">
        <div class="basis-1/2">
            <canvas id="OSChart"></canvas>
            <div class="h-min flex flex-row-reverse gap-6 p-4">
                <div class="badge badge-info" onclick="OSChart('@Url.Action("LinkOtherDetails")', '0raz2muF', '30d')">30d</div>
                <div class="badge badge-info" onclick="OSChart('@Url.Action("LinkOtherDetails")', '0raz2muF', '7d')">7d</div>
                <div class="badge badge-info" onclick="OSChart('@Url.Action("LinkOtherDetails")', '0raz2muF', '24h')">24h</div>
            </div>
        </div>
        <div class="basis-1/2">
            <canvas id="DeviceChart"></canvas>
            <div class="h-min flex flex-row-reverse gap-6 p-4">
                <div class="badge badge-info" onclick="DeviceChart('@Url.Action("LinkOtherDetails")', '0raz2muF', '30d')">30d</div>
                <div class="badge badge-info" onclick="DeviceChart('@Url.Action("LinkOtherDetails")', '0raz2muF', '7d')">7d</div>
                <div class="badge badge-info" onclick="DeviceChart('@Url.Action("LinkOtherDetails")', '0raz2muF', '24h')">24h</div>
            </div>
        </div>
    </div>

    <div class="bg-base-200 flex flex-col">
        <div class="flex ">
            <canvas id="CountryChart"></canvas>
            @* <table class="table table-zebra"> *@
            @*     <thead> *@
            @*     <th>th</th> *@
            @*     <th>Country</th> *@
            @*     <th>Visitors</th> *@
            @*     </thead> *@
            @*     <tbody id="CountryTable"></tbody> *@
            @* </table> *@
        </div>
        <div class="h-min flex flex-row-reverse gap-6 p-4">
            <div class="badge badge-info" onclick="CountryChart('@Url.Action("LinkOtherDetails")', '0raz2muF', '30d')">30d</div>
            <div class="badge badge-info" onclick="CountryChart('@Url.Action("LinkOtherDetails")', '0raz2muF', '7d')">7d</div>
            <div class="badge badge-info" onclick="CountryChart('@Url.Action("LinkOtherDetails")', '0raz2muF', '24h')">24h</div>
        </div>
    </div>
    <div class="bg-base-200 flex flex-col">
        <div class="flex ">
            <canvas id="CityChart"></canvas>
            @* <table class="table table-zebra"> *@
            @*     <thead> *@
            @*     <th>th</th> *@
            @*     <th>Country</th> *@
            @*     <th>Visitors</th> *@
            @*     </thead> *@
            @*     <tbody id="CityTable"></tbody> *@
            @* </table> *@
        </div>
        <div class="h-min flex flex-row-reverse gap-6 p-4">
            <div class="badge badge-info" onclick="CityChart('@Url.Action("LinkOtherDetails")', '0raz2muF', '30d')">30d</div>
            <div class="badge badge-info" onclick="CityChart('@Url.Action("LinkOtherDetails")', '0raz2muF', '7d')">7d</div>
            <div class="badge badge-info" onclick="CityChart('@Url.Action("LinkOtherDetails")', '0raz2muF', '24h')">24h</div>
        </div>
    </div>

</div>

<script src="~/js/User/Details.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    window.addEventListener("load", async () => {
        await VisitsChart('@Url.Action("LinkVisitDetails")', "0raz2muF", "30d");
        await BrowserChart('@Url.Action("LinkOtherDetails")', "0raz2muF", "30d");
        await OSChart('@Url.Action("LinkOtherDetails")', "0raz2muF", "30d");
        await CountryChart('@Url.Action("LinkOtherDetails")', "0raz2muF", "30d");
        await CityChart('@Url.Action("LinkOtherDetails")', "0raz2muF", "30d");
        await DeviceChart('@Url.Action("LinkOtherDetails")', "0raz2muF", "30d");
    })
</script>