@using Microsoft.IdentityModel.Tokens
@model Web.Models.View.Admin.ManageUserView
@{
    ViewData["Title"] = "ManageUser";
    Layout = "_UserLayout";
}

@await Html.PartialAsync("_Header.cshtml", Model.header)

<div class="my-10 flex flex-col ">
        <div class="my-6 mx-10">
            <div role="alert" class="alert hidden" id="errorAlert">
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                <span id="alertMessage"></span>
            </div>
        </div>
    <div class="basis-1/6 flex justify-center items-center">
        <form class="form-control" asp-action="ManageUser">
                    <input type="text" placeholder="Search using Email" asp-for="userEmail" class="input input-bordered input-info w-full max-w-xs" />
                </form>
    </div>
    <div class="basis-5/6 justify-center items-center m-5 lg:m-12 ">
        <div class="card bg-base-200 mx-8">
            <div class="card-body items-center text-center">
                <h2 class="card-title">User Profile</h2>
                <div class="grid grid-cols-1 lg:grid-cols-2 my-6 w-full">
                    <div class="lg:col-span-2"><img class="w-48 mx-auto rounded-full object-cover object-center" src="~/UserPics/@(Model.UserPicPath.IsNullOrEmpty() ? "default-avatar.svg" : Model.UserPicPath)" alt="Avatar"/></div>
                    <div class="my-3">Name : @Model.UserName</div>
                    <div class="my-3">Email : @Model.UserEmail</div>
                    <div class="my-3">Account Created : @Model.UserAccountCreated</div>
                    <div class="my-3">Plan : @Model.UserPlan</div>

                </div>
                <div class="flex flex-col lg:flex-row gap-4">
                    <button class="btn btn-info" onclick="OpenLogs()">Check logs</button>
                    <button class="btn btn-info">Check Links</button>
                    <button class="btn btn-accent">Manage User</button>
                </div>
            </div>
        </div>
    </div>
</div>


@* Modals *@
@* User Logs *@
<dialog id="userLogs" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
        <table class="table table-lg bg-base-300 w-auto overflow-x-auto">
            <thead>
            <tr>
                <th colspan="5">
                    <div class="flex">
                        <p class="text-4xl text-base-content flex items-center grow">Logs</p>
                        <div class="join">
                            <button class="join-item btn" onclick="prevPage()">«</button>
                            <button class="join-item btn btn-disabled" id="pageNo"></button>
                            <button class="join-item btn" onclick="nextPage()">»</button>
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th class="w-48">Date</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody id="logsBody">
            </tbody>
        </table>
            <div class="modal-action">
              <form method="dialog">
                <!-- if there is a button, it will close the modal -->
                <button class="btn">Close</button>
              </form>
            </div>
    </div>
</dialog>



<script src="~/js/Admin/ManageUser.js"></script>
<script>
    setRequiredVal(@Model.UserId, '@Url.Action("GetUserLogs")', '');
</script>